body {
	font-family: 'Roboto', sans-serif;
	color: #3C3C3C;
	height:100%;
	background: #F1F2F2;
} 


#title{
	margin-left: 25px;
	margin-top: 70px;
	font-size: 500%;
	float: left;
	height: 160px;
} 

badge{
	float: right;
	background: #F1F2F2;
	box-shadow: 2px 2px 2px #888888;
	margin:25px;
	padding: 10px;
}

badge img{
	height: 250px;
	width: 250px;
}


nav{
	float: left;
	background: #F1F2F2;
	padding: 20px;
	box-shadow: 2px 2px 2px #888888;
	max-width:650px;
}

nav a{
	font-size: 125%;
	color: #3C3C3C;
	text-decoration: none;
	margin-right: 35px;
}

#container{
	max-width: 1020px;
	margin: 0 auto;
	height: 100%;
	background-color:#DBDBDB;
}


/*
#content{
	background: #F1F2F2;
	padding: 20px;
	margin: 25px;
	box-shadow: 10px 10px 5px #888888;
	max-width: 1020px;
}
*/
.post{
	background: #F1F2F2;
	padding: 30px;
	margin: 25px;
	margin-right:0px;
	margin-top:5px;
	box-shadow: -2px 2px 2px #888888;
	max-width: 1020px;
}

.time{
	font-size: 80%;
	font-color: #DBDBDB;
}

h1, h2, h3, h4, h5, h6 {
	color: #3C3C3C;
}

p {
	color: #3C3C3C;
}

a {
 color:#3B8686;
}

a:hover, a:focus, a:active {
	color: #A8DBA8;
}

a:focus, a:active {
	color: #CFF09E;
}


img, a img {
}

blockquote {
	padding: 20px;
	background-color: #3C3C3C;
	color:#F1F2F2;
}

#footer {
	position: static; 
	bottom:20px;
	padding: 5px;
	padding-left: 25px;
	background: #F1F2F2;
	background-color:#DBDBDB;
	font-size: 110%;

}
